.board
    text-align: center
.square
  width:   50px
  height:  50px
  display: inline-block

.piece
  width: 45px
  height: 45px
  border-radius: 100%
  position: absolute
  background: black
  border: solid 1px white
