.board
    text-align: center
    user-select: none
.square
  width:   50px
  height:  50px
  display: inline-block

.piece
  width: 44px
  height: 44px
  border-radius: 100%
  border: solid 1px white
  margin: -17px 0 0 3px
